body {
    background-color: rgb(43, 62, 80);
}
#resname, #reslink, #suggest{
 font-family: Helvetica;
}

div.main{
  color: black;
  font-weight: bold;
  background: cadetblue;
  border: 2px solid black;
  padding: 1em;
}
