body {
    background-color: rgb(43, 62, 80);
}
#spinner {
    position:absolute;
    height: 400px;
    width: 400px;
}
#spinner-button {
    cursor:pointer;
    z-index:100;
    width:20%;
    height:20%;
    position:absolute;
    left: 230%;
    top: 40%;
    background-image:url('http://quizpop.herokuapp.com/images/spinner.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
#spinner-wheel {
    height:100%;
    width:100%;
    z-index:0;
    position: absolute;
    margin: auto;
    left: 190%;
    top: 0%;
    background-image:url('wheel/wheel.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
