body {
    background-color: rgb(43, 62, 80);
}
#spinner {
    position:absolute;
    height: 300px;
    width: 300px;
}
#spinner-button {
    cursor:pointer;
    z-index:100;
    width:20%;
    height:20%;
    position: absolute;
    left: 40%;
    top: 40%;
    background-image:url('http://quizpop.herokuapp.com/images/spinner.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
#spinner-wheel {
    height:inherit;
    width:inherit;
    z-index:0;
    position:center;
    background-image:url('http://quizpop.herokuapp.com/images/wheel.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
