{% extends "index.html" %}
{% load static %}


{% block title %}HomePage{% endblock %}

{% block content %}
<!-- navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">YumWheel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <button type="button" class="btn btn-default navbar-btn">Sign in</button>
  </div>
</nav>
<!-- navigation bar -->

<!-- wheel -->
<div id="spinner">
    <div id="spinner-wheel"></div>
    <div id="spinner-button"></div>
</div>
  <!-- wheel -->
 <!-- <h1>{{variable}}</h1> -->


{% endblock %}


{% block scripts %}
<!--  bootstrap -->
<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "js/wheel.js" %}"></script>
<script src="{% static "js/bootstrap/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap/bootstrap.min.js" %}"></script>

<!-- foundation -->
<script src="{% static "js/foundation/vendor/jquery.js" %}"></script>
<script src="{% static "js/foundation/vendor/what-input.js" %}"></script>
<script src="{% static "js/foundation/vendor/foundation.js" %}"></script>
<script src="{% static "js/foundation/app.js" %}"></script>
{% endblock %}
