<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
     <!-- <link rel="stylesheet" href="{% static "css/foundation/foundation.css" %}"> -->
     <!-- <link rel="stylesheet" href="{% static "css/foundation/app.css" %}"> -->
     <!-- Bootstrap -->
      <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.css" %}"/>
      <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}"/>
      <!-- wheel -->
      <link rel="stylesheet" href="{% static "css/wheel.css" %}"/>
      <!--{% block head %}{% endblock %} -->
  </head>

  <body>
    
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}

  </body>

</html>
