<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
     <!-- <link rel="stylesheet" href="{% static "css/foundation/foundation.css" %}"> -->
     <!-- <link rel="stylesheet" href="{% static "css/foundation/app.css" %}"> -->
     <!-- Bootstrap -->
      <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.css" %}">
      <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">
      <!--{% block head %}{% endblock %} -->
  </head>

  <body>

    {% block content %}{% endblock %}
     <!-- <script src="{% static "js/foundation/vendor/jquery.js"% }"></script> -->
     <!-- <script src="{% static "js/foundation/vendor/what-input.js"% }"></script> -->
     <!-- <script src="{% static "js/foundation/vendor/foundation.js"% }"></script> -->
     <!-- <script src="{% static "js/foundation/app.js"% }"></script> -->
      <script src="{% static "js/jquery-3.2.1.min.js"% }"></script>
      <script src="{% static "js/bootstrap/bootstrap.js"% }"></script>
      <script src="{% static "js/bootstrap/bootstrap.min.js"% }"></script>
    {% block scripts %}{% endblock %}

  </body>

</html>
