{%extends "index.html"%}
{%load static %}

{%block title%}The Yum Wheel suggests you eat at...{%endblock%}


{% block content %}
<style>
#map{
  height:500px;
  width: 60%;
  margin: 0 auto;
}
</style>
<!-- size of map -->

<div id = "map"></div>

<script src="{% static "js/map.js" %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACc6IrDW1i_Pee4QSl59bySwB0Bq75KdM&libraries=places&callback=initMap"></script>
<div style = "text-align:center">
  <a href="/" class="button">Return to YumWheel</a>
  <h1 id="resname"></h1>
  <h2> is where the YumWheel suggests you eat! </h2>
  <h3 id = "reslink"></h3>
</div>
{% endblock %}
